@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: normal;
  background-color: lightgray;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 30%;
  display: flex;
  flex-direction: column;
}

input,
textarea {
  font-size: 1.5rem;
  padding: 10px 15px;
}

span {
  height: 45px;
}